.counter{
    text-align: center;
    padding:  50px;
}
.c-card h3{
    font-size: 20px;
    color: #ffffff;
}
.c-card .icon i{
    color: #83ffb3;
    font-size: 100px;
}
.number1 , .number2 , .number3 , .number4 {
    color: #ffffff;
    font-size: 40px;
}