
:root{
    --cream-color:#b1b493; 
    --aqua:aqua;
}

.main-banner{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.text-cream{
    color: var(--cream-color);
}
.text-bg-cream{
   background-color: var(--cream-color);
}
.menu :hover {
    color: var(--cream-color);
    text-decoration: underline;
}
.progress {
  border: 10px solid var(--aqua);
  border-radius: 50%;
} 
.progress-bar-bar {
  /* border: 10px solid var(--aqua); */
  border-radius: 50%;
}
